name: Build and Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: '17'

      - name: Build with Gradle
        run: ./gradlew build

      - name: Deploy to EC2
        run: |
          mkdir -p ~/.ssh
          echo "$SSH_PRIVATE_KEY"
          echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          scp -i ~/.ssh/id_rsa -r ./build/* ec2-user@ec2-52-14-7-239.us-east-2.compute.amazonaws.com:/home/ec2-user/gimnasioDeploy
